* {
    margin: 0;
    padding: 0;
}

main .myheaders {
    position: absolute;
    width: 114px;
    height: 24px;
    left: 182px;
    top: 88px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #838383;
}