@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #EAEAEA;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.wrapper {
    width: 1110px;
    margin: 10px auto;
}

/*-------------------HEADER-----------------------*/

header {
    height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

header .logo {
    font-weight: 700;
    font-size: 25px;
    color: initial;
    transition: opacity 300ms ease;
}

header .logo:hover {
    opacity: 70%;
}

header ul.nav {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

header ul.nav li {
    display: inline;
    font-size: 23px;
    padding-left: 20px;
    color: #838383;
    cursor: pointer;
    transition: opacity 300ms ease;
}

header ul.nav li:hover {
    opacity: 70%;
}

header .cart-icon {
    position: relative;
    display: inline-block;
    color: #838383;
}

header .cart-counter {
    position: absolute;
    background-color: #FFA542;
    color: white;
    font-size: 13px;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 2px;
    border-radius: 50%;
    top: 6px;
    right: -8px;
}


/*--------------------MAIN-----------------------*/

main {
    margin-top: 13px;
    /*margin-bottom: 21px;*/
}

main p {
    margin: 0;
}

main .category-name {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #838383;
}

main .category-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .good {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 350px;
    height: 407px;
    margin-bottom: 26px;
    box-shadow: 0 0 20px 0 #0000001A;
;
}

main .good-details {
    /*Допустим ...*/
    padding-bottom: 27px;
    padding-top: 27px;
    padding-left: 21px;
}

/*--------------------FOOTER----------------------*/

footer {
    width: 1053px;
    height: 149px;
    background-color: #FFFFFF;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 20px 0 #0000001A;
    position: absolute;
    margin-top: 0;
    padding: 33px 29px;
    display: grid;
    grid-template-columns: 318px 275px 152px 307px;
    grid-template-rows: 1fr 1fr 1fr;
}

footer .footer-item {
    font-weight: 400;
    font-size: 17px;
    justify-self: start;
    align-self: center;
    cursor: pointer;
    transition: opacity 300ms ease;
}

footer .footer-item:hover {
    opacity: 70%;
}

footer .footer-item:nth-child(1) {
    font-weight: 700;
    font-size: 25px;
    grid-column: 1/2;
    grid-row: 1/2;
}

footer .footer-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

footer .footer-item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
}

footer .footer-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
}

footer .footer-item:nth-child(5) {
    grid-column: 3/4;
    grid-row: 1/2;
}

footer .footer-item:nth-child(6) {
    grid-column: 3/4;
    grid-row: 3/4;
}

footer #lang-icon {
    width: 25px;
    height: 25px;
    color: #838383;
    padding-top: 5px;
}

footer .footer-item:nth-child(7) {
    grid-column: 3/4;
    grid-row: 3/4;
    padding-left: 35px;
    font-weight: 700;
    color: #FFA542;
}

footer .footer-item:nth-child(8) {
    grid-column: 3/4;
    grid-row: 3/4;
    padding-left: 78px;
    font-weight: 500;
    color: #101010;
}

footer .footer-item:nth-child(9) {
    font-weight: 600;
    font-size: 25px;
    grid-column: 4/5;
    grid-row: 1/2;
    padding-left: 180px;
}

#vk-icon {
    width: 35px;
    height: 35px;
    padding-top: 5px;
}

footer .footer-item:nth-child(10) {
    font-weight: 600;
    font-size: 25px;
    grid-column: 4/5;
    grid-row: 1/2;
    padding-left: 228px;
    width: 30px;
    height: auto;
}

#tg-icon {
    width: 35px;
    height: 35px;
    padding-top: 5px;
}

footer .footer-item:nth-child(11) {
    font-weight: 600;
    font-size: 25px;
    grid-column: 4/5;
    grid-row: 1/2;
    padding-left: 276px;
    width: 30px;
    height: auto;
}

#wa-icon {
    width: 35px;
    height: 35px;
    padding-top: 5px;
}

/*--------------------CART PAGE-----------------------*/

