@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAEAEA;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.wrapper {
    width: 1110px;
    margin: 10px auto;
}

header {
    margin-bottom: 30px;
    padding-top: 10px;
}

header .logo {
    font-weight: 700;
    font-size: 25px;
}

header ul.nav {
    list-style: none;
    float: right;
    margin-right: 15px;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .fav-image {
    width: 22px;
    height: 20px;
    color: #838383;
}

header .cart-image {
    width: 24px;
    height: 22px;
    color: #838383;
}

header .counter-fav-circle {
    position: absolute;
    color: #FFA542;
    width: 13px;
    height: 13px;
    top: 17px;
    right: 223px;
}

header .counter-cart-circle {
    position: absolute;
    color: #FFA542;
    width: 15px;
    height: 15px;
    top: 17px;
    right: 175px;
}

header .count {
    font-size: 8px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 16px;
    right: 179px;
}

.category-name {
    width: initial;
    height: 24px;
    top: 88px;
    left: 182px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #838383;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    /*padding: 15px;*/
}

main .good {
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 350px;
    height: 407px;
    top: 132px;
    left: 182px;
    margin-bottom: 20px;
}

main .good img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 65px;
    margin-top: 20px;
}

main .good-details {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
}

main .good-price {
    color: #FFA542;
    float: right;
}

main .good p {
    padding: 15px;
}

.star {
    color: #FFCE7F;
    padding-right: 5px;
}

.buy-button {
    width: 65px;
    height: 21px;
    background: transparent;
    border: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 21px;
    cursor: pointer;
    transition: opacity 500ms ease;
    float: right;
}

.buy-button:hover {
    opacity: 0.5;
}

footer {
    width: 1110px;
    height: 130px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0 0;
    padding-top: 30px;
    margin-top: 40px;
    justify-content: space-between;
    align-content: center;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 70px;
}

.footer-column {
    flex: 1;
    margin: 10px;
    column-width: auto;

}

.footer-logo {
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
}

footer p {
    font-weight: 400;
    padding: 2px;
}


